@model DichVuGame.Models.ViewModels.GamesViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <body>

        <section class="features-6" >
            <div class="features6-block ">
                <div class="container py-lg-5">
                    <div class="row title-content">
                        <div class="col-lg-4 title-left">
                            <h3 class="hny-title">"Chơi Wii nhé?"</h3>
                        </div>
                        <div class="col-lg-8 title-info">
                            <p>
                                Sau rất nhiều nỗ lực quảng cáo cho đứa con cưng Wii của mình, Nintendo đã
                                tung ra khẩu hiệu “Wii Would Like To Play” - một cách chơi chữ hết sức độc
                                đáo và thú vị. Câu khẩu hiệu đã nói lên tất cả: Nintendo Wii là một tựa game
                                dành cho tất cả mọi lứa tuổi và ai cũng muốn chơi nó.
                            </p>
                        </div>
                    </div>
                    <div class="features6-grids text-center mt-5">
                        <img src="\menu_lt\images\bg3.jpg" class="img-fluid" alt="">

                        <div class="three-grids d-grid grid-columns-3">
                            <div class="grid">
                                <div class="icon">
                                    <span style="color:black" class="fa fa-id-card-o" aria-hidden="true"></span>
                                </div>
                                <div class="icon-info">
                                    <h4><a href="#">An toàn</a></h4>
                                    <p>
                                        Bảo mật thông tin tài khoản của bạn và bảo đảm trong
                                        từng giao dịch của bạn.
                                    </p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <span style="color:black" class="fa fa-cc-paypal" aria-hidden="true"></span>
                                </div>
                                <div>
                                    <h4><a href="#">Nhanh chóng</a></h4>
                                    <p>
                                        Sử dụng Paypal để thực hiện giao dịch
                                        nhanh chóng và chính xác.
                                    </p>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <span style="color:black" class="fa fa-pencil-square" aria-hidden="true"></span>
                                </div>
                                <div class="icon-info">
                                    <h4>
                                        <a href="#">
                                            Cập nhật
                                        </a>
                                    </h4>
                                    <p>Luôn cập nhật liên tục nhưng game mới nóng hổi trong thị trường game</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features-4 -->
        <div style="text-align: center">
            <label style="font-family:Bahnschrift;font-size:40px;color:black">Sản phẩm</label>
        </div>
        <section class="w3l-services-2" >
            <!-- /content-6-section -->
            <div class="services-2-mian ">
                <div class="container ">                    
                    <div class="welcome-grids row">
                        <div class="col-lg-4 col-md-6 course-grid">
                            <div class="course-grid-inf">
                                <a href="#"><img src="\menu_lt\images\p1.jpg" class="img-fuild" alt=""></a>
                                <div class="course-content">
                                    <div class="course-info">
                                        <h6><a class="course-instructor" href="#"> Brie Larsson</a></h6>
                                        <a href="#" class="course-titlegulp-wrapper">
                                            <h3 class="course-title">Design Thinking &#8211; Design Research and Analysis</h3>
                                        </a>
                                    </div>
                                    <div class="course-divider">
                                        <div class="course-meta grid">
                                            <span class="course-students" title="">
                                                <span class="fa fa-user" aria-hidden="true"></span> 46
                                            </span>
                                            <span class="course-reviews" title="">
                                                <span class="fa fa-thumbs-o-up"
                                                      aria-hidden="true"></span> 14
                                            </span>

                                        </div>
                                        <button class="price-course btn"> $300 </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 course-grid">

                            <div class="course-grid-inf">
                                <a href="#"><img src="\menu_lt\images\p2.jpg" class="img-fuild" alt=""></a>
                                <div class="course-content">
                                    <div class="course-info">
                                        <h6><a class="course-instructor" href="#"> Brie Larsson</a></h6>
                                        <a href="#" class="course-titlegulp-wrapper">
                                            <h3 class="course-title">Learn Digital Painting to Make Concept Art</h3>
                                        </a>
                                    </div>
                                    <div class="course-divider">
                                        <div class="course-meta grid">
                                            <span class="course-students" title="">
                                                <span class="fa fa-user" aria-hidden="true"></span> 36
                                            </span>
                                            <span class="course-reviews" title="">
                                                <span class="fa fa-thumbs-o-up"
                                                      aria-hidden="true"></span> 24
                                            </span>

                                        </div>
                                        <button class="price-course btn"> $400 </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 course-grid">
                            <div class="course-grid-inf">
                                <a href="#"><img src="\menu_lt\images\p3.jpg" class="img-fuild" alt=""></a>
                                <div class="course-content">
                                    <div class="course-info">
                                        <h6><a class="course-instructor" href="#"> Brie Larsson</a></h6>
                                        <a href="#" class="course-titlegulp-wrapper">
                                            <h3 class="course-title">Interior Design & Development Course</h3>
                                        </a>
                                    </div>
                                    <div class="course-divider">
                                        <div class="course-meta grid">
                                            <span class="course-students" title="">
                                                <span class="fa fa-user" aria-hidden="true"></span> 56
                                            </span>
                                            <span class="course-reviews" title="">
                                                <span class="fa fa-thumbs-o-up"
                                                      aria-hidden="true"></span> 44
                                            </span>

                                        </div>
                                        <button class="price-course btn"> $300 </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 course-grid">
                            <div class="course-grid-inf">
                                <a href="#"><img src="\menu_lt\images\p4.jpg" class="img-fuild" alt=""></a>
                                <div class="course-content">
                                    <div class="course-info">
                                        <h6><a class="course-instructor" href="#"> Brie Larsson</a></h6>
                                        <a href="#" class="course-titlegulp-wrapper">
                                            <h3 class="course-title">Mastering Web Developer Interview Code</h3>
                                        </a>
                                    </div>
                                    <div class="course-divider">
                                        <div class="course-meta grid">
                                            <span class="course-students" title="">
                                                <span class="fa fa-user" aria-hidden="true"></span> 46
                                            </span>
                                            <span class="course-reviews" title="">
                                                <span class="fa fa-thumbs-o-up"
                                                      aria-hidden="true"></span> 44
                                            </span>

                                        </div>
                                        <button class="price-course btn"> $300 </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 course-grid">
                            <div class="course-grid-inf">
                                <a href="#"><img src="\menu_lt\images\p5.jpg" class="img-fuild" alt=""></a>
                                <div class="course-content">
                                    <div class="course-info">
                                        <h6><a class="course-instructor" href="#"> Brie Larsson</a></h6>
                                        <a href="#" class="course-titlegulp-wrapper">
                                            <h3 class="course-title">Photoshop For T-shirt Design: For Beginners</h3>
                                        </a>
                                    </div>
                                    <div class="course-divider">
                                        <div class="course-meta grid">
                                            <span class="course-students" title="">
                                                <span class="fa fa-user" aria-hidden="true"></span> 36
                                            </span>
                                            <span class="course-reviews" title="">
                                                <span class="fa fa-thumbs-o-up"
                                                      aria-hidden="true"></span> 34
                                            </span>

                                        </div>
                                        <button class="price-course btn"> $200 </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 course-grid">
                            <div class="course-grid-inf">
                                <a href="#"><img src="\menu_lt\images\p6.jpg" class="img-fuild" alt=""></a>
                                <div class="course-content">
                                    <div class="course-info">
                                        <h6><a class="course-instructor" href="#"> Brie Larsson</a></h6>
                                        <a href="#" class="course-titlegulp-wrapper">
                                            <h3 class="course-title">Beginner to Expert Guide for Consignment</h3>
                                        </a>
                                    </div>
                                    <div class="course-divider">
                                        <div class="course-meta grid">
                                            <span class="course-students" title="">
                                                <span class="fa fa-user" aria-hidden="true"></span> 36
                                            </span>
                                            <span class="course-reviews" title="">
                                                <span class="fa fa-thumbs-o-up"
                                                      aria-hidden="true"></span> 34
                                            </span>

                                        </div>
                                        <button class="price-course btn"> $300 </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
    </body>