
@{
    ViewData["Title"] = "SpinWheel";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="\spinwheel\StyleSheet.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="\spinwheel\spin.js"></script>
</head>
<body>


    <div style="zoom:2.5">


        <div id="wrapper">

            <div id="wheel">
                <div id="inner-wheel">
                    <div class="sec"><span class="fa fa-bell-o"></span></div>
                    <div class="sec"><span class="fa fa-comment-o"></span></div>
                    <div class="sec"><span class="fa fa-smile-o"></span></div>
                    <div class="sec"><span class="fa fa-heart-o"></span></div>
                    <div class="sec"><span class="fa fa-star-o"></span></div>
                    <div class="sec"><span class="fa fa-lightbulb-o"></span></div>
                </div>

                <div id="spin">
                    <div id="inner-spin"></div>
                </div>

                <div id="shine"></div>
            </div>
            <div id="txt"></div>
        </div>
    </div>
</body>
<!--   End of Button Zone   -->

