@model DichVuGame.Models.SystemRequirement

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/AdminHome/_CMSLayout.cshtml";
}

<h1>Create</h1>

<h4>SystemRequirement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemRequirementID" class="control-label"></label>
                <select asp-for="SystemRequirementID" class ="form-control" asp-items="ViewBag.SystemRequirementID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OS" class="control-label"></label>
                <input asp-for="OS" class="form-control" />
                <span asp-validation-for="OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processor" class="control-label"></label>
                <input asp-for="Processor" class="form-control" />
                <span asp-validation-for="Processor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Graphic" class="control-label"></label>
                <input asp-for="Graphic" class="form-control" />
                <span asp-validation-for="Graphic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectX" class="control-label"></label>
                <input asp-for="DirectX" class="form-control" />
                <span asp-validation-for="DirectX" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Network" /> @Html.DisplayNameFor(model => model.Network)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Storage" class="control-label"></label>
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

