@model DichVuGame.Models.Studio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Studio</h4>
<hr />

<form asp-action="Edit">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Studioname" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="Studioname" class="form-control" />
                <span asp-validation-for="Studioname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="StudioLogo" class="control-label"></label>
            </div>
            <div class="col-6">
                <input name="files" type="file"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Describe" class="control-label"></label>
            </div>
            <div class="col-6">
                <input asp-for="Describe" class="form-control" />
                <span asp-validation-for="Describe" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="CountryID" class="control-label"></label>
            </div>
            <div class="col-6">
                <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryID"></select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Quay lại</a>
</div>

