@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>

        Thông thường email sẽ được gửi bởi: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click tại đây để xác nhận email của bạn!</a>
    </p>
    }
    else
    {
<p>
       Hãy kiểm tra email của bạn để xác nhận tài khoản.
</p>
    }
}
