@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
   Mật khẩu của bạn đã được tạo lại. Hãy <a asp-page="./Login">click vào đây để đăng nhập</a>.
</p>
